<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Model Validation</title>
		<script src="../js/jquery-3.3.1.js"></script>
		<script src="../js/underscore.js"></script>
		<script src="../js/backbone.js"></script>
	</head>
	<body>
		<div id="todo"></div>

		<script type="text/html" id="item-template">
			<div>
				<input id="todo_complete" type="checkbox" <%= completed ? 'checked = "checked"' : ''%>>
				<%= title %>
			</div>
		</script>
		
		<script type="text/javascript">
			let log = console.log;
			let TodosView = Backbone.View.extend({
				tagName: 'ul',
				className: 'container',
				id:'todos'
			});
			let todosView = new TodosView();
			log(todosView.el);
			let TodoView = Backbone.View.extend({
				tagName: 'li',
				todoTpl: _.template("<p> <%=title%> is <%=completed%>"),
					events:{
						'dbclick label':'edit',
						'keypress .edit': 'updateOnEnter',
						'blur .edit': 'close'
					},
					initialize: function(options) {
						// In Backbone 1.1.0, if you want to access passed options in
						// your view, you will need to save them as follows:
						this.options = options || {};
					},
					// Re-render the title of the todo item.
					render: function() {
						this.$el.html( this.todoTpl( this.model.attributes ) );
					},
					edit: function() {
						// executed when todo label is double clicked
					},
					close: function() {
						// executed when todo loses focus
					},
					updateOnEnter: function(e) {
						// executed on each keypress when in todo edit mode,
					// but we'll wait for enter to get in action
					}
				});
				let todoView = new TodoView();
				log(todoView.el);
			</script>


			<script src="../js/jquery-3.3.1.js"></script>
			<script src="../js/underscore.js"></script>
			<script src="../js/backbone.js"></script>
		</body>
	</html>